@import '../../../assets/style/variables.styl'

limitedWidth($width)
  display inline-block
  text-overflow ellipsis
  overflow hidden
  width $width
  white-space nowrap

.info-item
  width 100%
  border-bottom 1px solid #ddd
  margin-bottom 20px
  padding-bottom 20px
  .info-item-img
    position relative
    width 318px
    height 180px
    border-radius 3px
    overflow hidden
    //background-color #ccc
    //border 2px solid #ccc
    float left
    cursor pointer
  .info-item-main
    position relative
    min-height 180px
    padding-bottom 34px
    .main-meta
      position absolute
      bottom 0
      left 0
      height 24px
      line-height 24px
      color #999
      width 100%
      .meta-item
        font-size 13px
        display inline-block
        float left
        + span
          margin-left 10px
        &.meta-label
          limitedWidth(420px)
          a
            color #999
            &:hover
              color #57a3f3
        &+.meta-item
          margin-left 10px

      i
        font-size 15px
      .meta-o
        color #999
        text-decoration none
        &:hover
          color $sky
      .writer
        color $sky
        float right
        limitedWidth(85px)

    .info-content
      .content-title
        display block
        font-size 24px
        margin-bottom 10px
        color #333
        text-decoration none
        &:hover
          color $sky
      .content-info
        color #999
        font-size 14px
