/* 头部栏目高度 */
$appHeaderHeight   = 82px

/* panel */
$pageWidth         = 1220px
$mainPanel         = 910px
$asidePanel        = 270px
$panelGutter       = 40px

/* color */
$dark              = #333   // 重要文字
$lightDark         = #666   // 次要文字
$ash               = #999   // 弱文字
$lightAsh          = #ccc   // 极弱文字
$sky               = #06c   // 链接文字
$danger            = #f30   // 警示文字
$borderDefault     = #eee   // 整体框架颜色
