@import "../../../assets/style/mixin.styl"

.company-banner
  height 256px
  background-color #ededed
  margin-bottom 20px
  img-center('horizon')
  .link
    text-decoration none
    display block
    height 256px
    line-height 256px
    font-size 14px
  img
    height 256px

.content-view
  width 930px
  .co-item
    width 270px
    height 400px
    display inline-block
    float left
    margin 0 20px 40px

.main-data-list
  margin 40px 0

.co-info
  float right
  width 290px
  padding 0 20px
  .info-item
    display block
    padding 20px
    .info-label
      display inline-block
      color #333
      width 80px
    .info-value
      display inline-block
      color #999
      width 125px
      overflow-wrap break-word
      word-wrap break-word
      vertical-align text-top

    &+.info-item
      border-top 1px dashed #999

.side-modify-btn
  outline none
  background-color #0066CB
  color #fff
  border 1px solid #0066CB
  border-radius 3px
  padding 3px
  font-size 12px
  cursor pointer
  user-select none
  transition background-color 200ms
  &:hover
    background-color #1a89f7
  &:active
    background-color #025cb5

.modal-content
  margin 100px auto
  width 500px
  min-height 100px
  background-color #fff
  position absolute
  left 0
  right 0
  top 0
  padding 10px
  .close
    user-select none
    cursor pointer
  .title
    font-weight bold


